<div class="header">
  <h1> Card Sorting</h1>
</div>
<div class="main-section">
  <div class="left-section">
    <div class="card-dropdown">
      <mat-selection-list #cards color="primary"
        (selectionChange)="onListSelectionChange($event, cards.selectedOptions)">
        <mat-list-option *ngFor="let card of cardList" [value]="card">{{card}}</mat-list-option>
      </mat-selection-list>
    </div>
  </div>
  <div class="right-section">
    <div class="card-list-section">
      <h3> INPUT :</h3>
      <div class="card-selected-area">
        <mat-card class="example-card" *ngFor="let item of cards.selectedOptions.selected">
          <mat-card-content>
            <div class="card-basic"> {{item.value}} </div>
          </mat-card-content>
          <!-- <mat-card-actions>
            <button mat-button class="DELETE">DELETE</button>
          </mat-card-actions> -->
        </mat-card>
      </div>
    </div>
    <div class="card-list-section" *ngIf="cards.selectedOptions.selected.length>0">
      <!-- <button mat-raised-button color="warn"  (click)="ClearAll()">Clear All</button> -->
      <button mat-raised-button color="primary" (click)="PerformSort(cards.selectedOptions.selected)">Sort</button>
    </div>
    <mat-divider></mat-divider>
    <div class="card-list-section">
      <h3> OUTPUT :</h3>
      <div class="card-selected-area">
        <mat-card class="example-card" *ngFor="let item of sortedList">
          <mat-card-content>
            <div class="card-basic"> {{item}} </div>
          </mat-card-content>

        </mat-card>
      </div>
    </div>
  </div>
</div>